<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yizhenwind.booster.character">

    <application android:theme="@style/Theme.Booster">

        <activity
            android:name=".ui.create.CreateCharacterActivity"
            android:label="@string/create_character_label" />

        <activity
            android:name=".ui.detail.CharacterDetailActivity"
            android:theme="@style/Theme.Booster.NoActionBar" />

    </application>

</manifest>