<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yizhenwind.booster.customer">

    <application android:theme="@style/Theme.Booster">

        <activity
            android:name=".ui.detail.CustomerDetailActivity"
            android:theme="@style/Theme.Booster.NoActionBar" />

        <activity
            android:name=".ui.create.CreateCustomerActivity"
            android:label="@string/create_customer_label" />

    </application>

</manifest>